<html>
    <head>
        <title>Access Denied</title>
        <link rel="stylesheet" href="../public/styles/symantec.css" />
    </head>
    <body>
        <div class="ui container">
            <center>
                <h1 style="color: red; margin-top:100px;">Access Denied</h1>
                <h3>Access to <code class="bash">/robots.txt</code> is restricted</h3>
            </center>
        </div>
    </body>
</html>