<!DOCTYPE html>
<html>
<head>
	<title>Authors Details</title>
	<link rel="stylesheet" href="../public/styles/symantec.css" />
</head>
<body>
  <div class="ui container">
			<hr style="border-top: dotted 1px;"><br><br>
		</ul>
		<ul type=1>
		  <%- s %>
		</ul>
		<hr style="border-top: dotted 1px;">
  </div>
</body>
</html>