<!DOCTYPE html>
<html>
<head>
	<title>Authors Details</title>
	<link rel="stylesheet" href="../public/styles/symantec.css" />
</head>
<body>
  <div class="ui container">
	<ul type="1">
		<% for(var i=0; i < data1.length; i++) { %>
		    <li><%= data1.name %></li>
		    <hr style="border-top: dotted 1px;">
		   <% for(var j=0; j < data2.length; j++) { var c = 0; %>
		     <% if(i.id === j.userId) { %>
		       <% c++; %>
		       <% } %>
		     <% } %>
		     <span><% c %></span>
		<% } %>
	</ul>
  </div>
</body>
</html>